
{plugins, [
  {rebar_tidy_deps, ".*", {git, "https://github.com/tothlac/rebar3-tidy-deps-plugin.git"}},
  { rebar_alias
    , { git, "https://github.com/tsloughter/rebar_alias.git" }}
  , rebar3_appup_plugin
  %% use this form when in DMZ:
  %% rebar_alias, rebar3_appup_plugin
]}.


{deps, [ {hackney, {git, "https://github.com/benoitc/hackney.git", {tag, "1.9.0"}}} ]}.
